.App {
  text-align: center;
}

.maps {
  margin: 0 auto;
  width: 900px;
  height: 500px;
}

.option-select {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;

  border-radius: 2px;
  padding: 0px 10px;
}

.info-container {
  display: flex;
}

.county-info {
  padding-left: 20px;
  display: flex;
}
